.project-new-link{
    position: absolute;
    top: 0;
    left: 0;

}

.project-new{
    width: 300px;
    height: 300px;

    border: 1px solid rgba(79, 60, 198, 0.6);
    filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.75));
}

.project-new:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.3s;
}
